
.tracking-widest {
    letter-spacing: 4px;
}

.btn-gold {
    background-color: #c59d5f;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.btn-gold:hover {
    background-color: #ca9654 ;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(197, 157, 95, 0.4);
}


.bg-gold {
    background-color: #c59d5f;
}