.text-small {
    font-size: 12px;
}
.text-my-color{
    color: #ca9654;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out;
}

.nav-link svg {
    transition: transform 0.2s ease;
}

.nav-link:hover svg {
    transform: translateY(-2px);
     fill: #ca9654 !important;
     filter: brightness(1.5) drop-shadow(0 0 5px rgba(202, 150, 84, 0.6));
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #b1711d !important; 
    text-shadow: 0 0 8px rgba(202, 150, 84, 0.4);

}


.nav-link.text-secondary {
    color: #ca9654 !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}